body {
    padding: 0px 50px 20px 50px;
}

.textarea {
    resize: none;
    padding: 5px 10px;
}

label {
    display: inline-block;
    vertical-align: top;
}

body>div {
    vertical-align: top;
}

.hidden {
    display: none!important;
}

.input {
    min-width: 220px;
    margin-bottom: 15px;
}

.wide {
    min-width: 350px;
}

.modal{
    text-align: center;
}

.item-actions{
    position: absolute;
    top: 25%;
    right: 5px;
    vertical-align: top;
    cursor: pointer;
}

.file-loader-wrapper {
    display: inline-block;
    vertical-align: top;
}

.file-name {
    min-width: 150px;
}

svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.dialogue-management-div{
    border-bottom: 1px solid #AAA;
    padding: 40px 0px;
}

.dialogue-management-div .field {
    vertical-align: top;
    display: inline-block;
    margin-right: 20px;
}

.npc-dialogue {
    margin-left: 160px;
    display: inline-block;
}

.dialogue-tree-controls{
    margin-top: 15px;
    margin-bottom: 30px;
}

.dialogue-item{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}

.dialogue-item .dialogue-info-wrapper{
    position: relative;
}

.dialogue-item .item-actions > div{
    padding: 6px 0;
}

.dialogue-item .dialogue-info {
    display: inline-block;
    border: 1px solid #AAA;
    border-radius: 10px;
    width: 250px;
    padding: 7px;
    margin: 25px;
    text-align: center;
    cursor: pointer;
}

.dialogue-item .dialogue-info .icon{
    margin-top: 5px;
}

.dialogue-item .dialogue-item-indicators{
    display: flex;
    justify-content: space-between;
    padding: 0 7px;
}

.dialogue-item .edit-dialogue-info {
    cursor: default;
    padding: 5px 15px;
}

.dialogue-item .edit-dialogue-info textarea{
    width: 100%;
    padding: 5px;
    margin: 10px 0;
}

.dialogue-item .edit-dialogue-info .top-actions{
    justify-content: space-between;
    display: flex;
}

.dialogue-item .edit-dialogue-info .icon{
    cursor: pointer;
}

.dialogue-item .edit-dialogue-info .icon.deselected{
    color: #AAA;
}

.dialogue-tree{
    position: relative;
    overflow: auto;
}

.icon-lock{
    color: #977393;
}

.icon-exit, .icon-coin-dollar{
    color: #D1495B;
}

.icon-share2, .icon-arrow-left{
    color: #8FC93A;
}

.icon-bin{
    color: #ff3860;
}

.dialogue-item .subdialogues{
    display: inline-block;
}