body {
    padding: 20px 0 0 50px;
}

.textarea {
    resize: none;
    padding: 5px 10px;
}

label {
    display: inline-block;
    vertical-align: top;
}

body>div {
    vertical-align: top;
}

.hidden {
    display: none;
}

.input {
    min-width: 220px;
}

.wide {
    min-width: 350px;
}

.file-loader-wrapper {
    display: inline-block;
    vertical-align: top;
}

.file-name {
    min-width: 150px;
}

.dialogue-management-div .field {
    vertical-align: top;
    display: inline-block;
    margin-right: 20px;
}

.npc-dialogue {
    margin-left: 160px;
    display: inline-block;
}